body {
    background: #1b1d20;
}

img {
    max-width: 100%;
    display: block;
}

.slide {
    max-width: 380px;
    margin: 20px auto;
}

.slide-items > * {
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
}

.slide-items > .active  {
    position: relative;
    opacity: 1;
    pointer-events: initial;
}

.slide-thumb {
    display: flex;
    grid-column: 1 / 3;
 }
  
.slide-thumb > span {
    flex: 1;
    display: block;
    height: 3px;
    background: rgba(0, 0, 0, 0.4);
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
}

.slide-thumb > span.active::after {
    content: '';
    display: block;
    height: inherit;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
  }
  
@keyframes thumb {
    to {
      transform: initial;
    }
}