body {
    background: #1b1d20;
}

img {
    max-width: 100%;
    display: block;
}

.slide {
    max-width: 380px;
    margin: 20px auto;
}

.slide-items > * {
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
}

.slide-items > .active  {
    position: relative;
    opacity: 1;
    pointer-events: initial;
}